
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {

    font-family: 'Montserrat', sans-serif;

}

.login-main{

    background-color: #38076B;

}

.custom-card{

    color: black;

    background-color: #9D5A00;

}
