
.title{

    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0 0.3rem 0;
    text-align: center;

}



.form-label, .image-title {
    color: #000000;
    font-weight: 700;
    margin: 1.5rem 0 0.3rem 0; 
}

#file-name {

    color: #000000;
    font-weight: 700;
    background-color: #6C3593;

}


.form-buttons {

    margin: 3rem 0 2rem 0;
    

}

.button-post {

    color: #000000;
    background-color: #9D5A00;
    border: none;
}

.button-post-list, .button-delete {
    
    color: #000000;
}


.custom-card{

    border: #9D5A00 3px solid;

}

.card-link{

    text-decoration: none;

    color: #000000;
}


.post {

    background-color: white;
    border: #9D5A00 3px solid;
    border-radius: 8px;
    margin: 1.5rem 0 1.5rem 0;

}

.post-title {

    margin-top: 0.5rem;

}

.post-content {

    padding: 1rem 1rem 0 1rem;

}

.no-posts{

    height: 17.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.no-posts-card{
    background-color: white;
    border: #9D5A00 3px solid;
    border-radius: 8px;
    margin: 1.5rem 0 1.5rem 0;
    padding: 1rem;
}

.no-posts-text {

    margin-bottom: 0;
    font-size: 1.2rem;

}

@media screen and (min-width: 768px) {

    .form-control-file {

        width: 60%;

    }

}



@media screen and (min-width: 992px) {

    .title{

        margin-bottom: 0;

    }   

    .form-custom{

        width: 80%;
                
    }

}


