
.title{

    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0 0 0;
    text-align: center;

}


.form-label {
    color: #000000;
    font-weight: 700;
    margin: 1.5rem 0 0.3rem 0; 
}


.form-buttons {

    margin: 3rem 0 2rem 0;
    

}


.button-user {

    color: #000000;
    background-color: #9D5A00;

}

.button-user-list {
    
    color: #000000;
}